header {
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
    color: #fff;
    padding: 10px;
    margin-bottom: 0;
}

header div {
    margin-right: 10px;
}

header div svg {
    width: 40px;
}

ul {
    margin: 0;
}